huggingface_hub==0.25.2
torch
gradio
transformers
langchain_community
langchain
sentence-transformers
faiss-cpu
faiss-gpu
langchain-huggingface
pypdf
langchain-groq
cryptography
pytesseract
pdf2image
gradio
torch
pillow
streamlit